<head>
  <link href="../../assets/img/brand/favicon.png" rel="icon" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="../../assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <link href="../../assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
  <title>Home</title>
</head>

<body class="bg-default">
<div class="main-content">

  <div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-12">
            <br><br>

            <h1 class="text-white text-uppercase">Welcome!</h1>
            <h2 class="text-white text-uppercase">To the world of Automatic Movie Rating System</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>


</div>

<script src="../../assets/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="../../assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/argon-dashboard.min.js?v=1.1.0"></script>
</body>

